html {
    background-color: #c5c4c4;
}
body {
    max-width: 500px;
    margin: auto;
    background-color: #E8E8E8;
    padding: 10px;
}
form {
    clear: both;
    padding: 10px;
}
.pagetitle {
    text-align: center;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    background-color: #4682B4;
    border: 1px solid black;
    padding: 10px;
}
td {
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #c5c4c4;
}
tr:hover {
    background-color: #918f8f;
}
#exit {
    background-color: red;
    color: white;
    border-radius: 0.8rem;
    border: none;
    padding: 10px;
}
#exit:hover {
    background-color: white;
    color: red;
}
.txtbx {
    border-radius: 0.8rem;
    padding: 10px;
}
.submitbtn {
    border-radius: 0.8rem;
    border: none;
    padding: 10px;
    background-color: #FFA500;
    color: white;
}
.submitbtn:hover {
    background-color: #FF8C00;
}
a.navlink {
    text-decoration: none;
    background-color: #FFA500;
    color: white;
    padding: 10px;
    border-radius: 0.8rem;
}
a.navlink:hover {
    background-color: #FF8C00;
}
form {
    margin: 10px;
}
p#flashmsg {
    color: red;
}

/* Navigation Styling */
#mobilenav {
    display: none;
}
#desktopnav li{
    float: left;
    list-style-type: none;
}
#desktopnav a {
    padding: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-color: orange;
}
#desktopnav a:hover {
    background-color: peachpuff;
}
#desktopnav #active {
    background-color: red;
}
#desktopnav #active:hover {
    background-color: peachpuff;
    color: red;
}
@media (max-width:500px) {
    form {
        display: flex;
        flex-direction: column;
    }
    #desktopnav{
        display: none;
    }
    #mobilenav {
        display: block;
    }
    #mobilenav li {
        list-style-type: none;
        padding: 10px;
    }
    #mobilenav a {
        padding: 10px;
        background-color: orange;
        color: white;
        text-decoration: none;
        border: 1px solid white;
    }
    #mobilenav #active {
        background-color: red;
        color: white;
    }
    #mobilenav #active:hover {
        background-color: peachpuff;
        color: red;
    }
    #mobilenav a:hover{
        background-color: peachpuff;
    }
}