<!DOCTYPE HTML>
<html>
    <head>
        <title>Urengi Storage Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='UrengiStorageIcon.ico') }}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="pagetitle">Urengi Storage</h1>
        <nav id="desktopnav">
            <ul>
                <li><a href="/exit" id="exit">logout</a></li>
                <li><a href="/inventoryhome" id="active">Inventory</a></li>
                <li><a href="/additem">Add Item</a></li>
            </ul>
        </nav>
        <nav id="mobilenav">
            <ul>
                <li><a href="/exit" id="exit">logout</a></li>
                <li><a href="/inventoryhome" id="active">Inventory</a></li>
                <li><a href="/additem">Add Item</a></li>
            </ul>
        </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p id="flashmsg">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form action="#" method="POST" autocomplete="off">
            <label for="search">Search Item or Category</label>
            <select name="category" class="txtbx">
                <option value="" selected></option>
                <option value="Vegtables">Vegtables</option>
                <option value="Fruits">Fruits</option>
                <option value="Cereals">Cereals</option>
                <option value="Flours">Flours</option>
                <option value="Beans/Rice/Potatoes">Beans/Rice/Potatoes</option>
                <option value="Meats">Meats</option>
                <option value="Soups">Soups</option>
                <option value="Drinks">Drinks</option>
                <option value="Deserts">Deserts</option>
                <option value="Seasonings">Seasonings</option>
                <option value="Baking">Baking</option>
                <option value="Condiments">Condiments</option>
                <option value="Household Products">Household Products</option>
                <option value="Sugars">Sugars</option>
                <option value="Pastas">Pastas</option>
                <option value="Homemade">Homemade</option>
            </select>
            <button class="submitbtn" name="action" value="search">Search</button>
        </form>
        <p>Category: {{ category }}</p>
        <p>Total in category: {{ totalincategory }}</p>
        <table>
            <thead>
                <th>Item ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>QTY</th>
                <th>Update</th>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>
                            <form action="#" method="POST">
                                <input type="hidden" name="item" value="{{ item[0] }}">
                                <button class="submitbtn" name="action" value="update">Update</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
